html {
    font-family: "Proxima Nova", "Arial", sans-serif;
}

.ui.segment {
	width: 100%;
}

.ui.fluid.card {
	position: relative;
	width: 100%;
}

h3 {
	display: inline;
}

span {
	display: inline;
}

nav.ui.compact.menu,
nav .simple.dropdown.item,
nav .simple.dropdown.item .menu,
nav .simple.dropdown.item .menu a.item {
    background: #0abe50;
    color: #fff !important;
    border: none;
    font-weight: bold;
}

.ui.menu,
.ui.search {
    display: inline-block;
}

.ui.search .prompt {
    border-radius: 0;
    width: 218px;
}

section.nav_container {
    padding: 10px;
}

section.nav_container > * {
    display: inline-block;
}

section.nav_container > div.ui.category.search {
    margin-left: -4px;
}
