html {
    font-family: "Proxima Nova", "Arial", sans-serif;
}

body {
    min-width: 0!important;
}

section.content {
    padding: 0 0 100px 0 !important;
}

.ui.segment {
	width: 100%;
}

.ui.fluid.card {
	position: relative;
	width: 100%;
}

section.content a .ui.segment {
    border-radius: 0 !important;
}

section.content a .ui.segment:hover {
    background: rgba(255,255,255, 0.2);
}

section h1 {
    padding: 0 10px;
    margin-top: -0.1em;
}

h3 {
	display: inline;
}

span {
	display: inline;
}

a, a:hover {
	color:black;
}

nav.ui.compact.menu,
nav .simple.dropdown.item,
nav .simple.dropdown.item .menu,
nav .simple.dropdown.item .menu a.item {
    background: #0abe50;
    color: #fff !important;
    border: none;
    font-weight: bold;
}

.ui.menu,
.ui.search {
    display: inline-block;
}

.ui.search .prompt {
    border-radius: 0;
    width: 216px;
}

section.nav_container {
    height: 60px;
}

section.nav_container > * {
    display: block;
    position: absolute;
}

section.nav_container > nav {
    left: 10px;
    top: 10px;
}

section.nav_container > div.ui.category.search {
    left: 72px;
    top: 9px;
}

div.results {
    left: -65px !important;
    width: 283px !important;
}

div.results .name {
    width: 80px !important;
    font-size: 0.75em !important;
}

div.results .result {
    margin-left: 80px !important;
}
