{% extends "base.html" %}
{% set active_page = "answer" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="ui segments">
	<div class="ui segment">
		<div class="content">
			<h3 class="header">
				How do I submit vacation times?
			</h3>
			<div class="meta">
				<span><i>2hr ago</i></span>
			</div>
			<div class="description">
				5 Answers
			</div>
		</div>
	</div>

	<div class="ui segment">
		<div class="content">
			<h3 class="header">
				How do I check when my supervisors are in?
			</h3>
			<div class="meta">
				<span><i>1d ago</i></span>
			</div>
			3 Answers
		</div>
	</div>
</div>
{% endblock %}
