{% extends "base.html" %}
{% set active_page = "answers" %}
{% block head %}
{% endblock %}
{% block body %}

<script src="{{ url_for("static", filename="flock.js") }}"></script>
<script>
	$(document).ready(function() {
		$(".question").click(function() {
			var id = $(this).attr('value'),
                url = "https://devweek.kyletan.me{{ url_for("answer_detail") }}?id=" + id;
			console.log(id);
			flock.openWidget(url, 'modal');
            window.location.href = url;
		});
	});
</script>


<h1>These questions need some answers!</h1>

<div class="ui segments">

	{% for qn in data %}
		<div class="ui segment">
			<div class="content question" value="{{ qn.q_id }}">
				<div style="float:left;"><h3>
					{{ qn.question_title }}
				</h3></div>
				<div style="float:right;"><i>2hr ago</i></div>
				
				<br />
				<br />
				<div style="float:left;">No Answers</div>
				
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
