{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Hello there! This is the answer page.</h1>

<div class="ui segments">
	<div class="ui segment">
		<div class="content">
			<h3 class="header">
				How do I submit vacation times?
			</h3>
			<div class="meta">
				2hr ago
			</div>
			<div class="description">
				<b>A:</b> You need to submit the appropriate paperwork to HR. First, email your supervisor and let them know...
			</div>
		</div>
	</div>

	<div class="ui green segment">
		<div class="content">
			<h3 class="header">
				How do I check when my supervisors are in?
			</h3>
			<div class="meta">
				1d ago
			</div>
			<div class="description">
				<b>A:</b> There are schedules posted outside the main break room. You can also check online via...
			</div>
		</div>
	</div>
</div>
{% endblock %}
