{% extends "base.html" %}
{% set active_page = "answers" %}
{% block head %}
{% endblock %}
{% block body %}

<script src="{{ url_for("static", filename="flock.js") }}"></script>
<script>
	$(document).ready(function() {
		$(".question").click(function() {
			var id = $(this).attr('value'),
                url = "https://devweek.kyletan.me{{ url_for("answer_detail") }}?id=" + id;
			console.log(id);
			flock.openWidget(url, 'modal');
            window.location.href = url;
		});
	});
</script>


<h1 style="color:#697178;text-align:center;">Every question needs an answer.</h1>

<div class="ui segments">
	{% for qn in data %}
	<a href="{{ url_for("answer_detail") }}?id={{ qn.q_id }}">
		<div class="ui segment">
			<div class="content question" value="{{ qn.q_id }}">
				<div style="float:left;">
					<h3>
						{{ qn.question_title }}
					</h3>
				</div>
				<br></br>
				<div style="float:left;color:grey;">
					<i>
					{% for cat in qn.assigned_to %}
						#{{ cat }} 
					{% endfor %}
					</i>
				</div>
			</div>
		</div>
		</a>
	{% endfor %}
</div>

<br></br>
<br></br>
<br></br>
<div class="ui centered grid">
	<div class="center aligned column">
		<div class="ui small image">
			<img src="{{ url_for('static', filename='green_grey.png') }}">
			<span style="color:#0abe50;font-style: 100px;letter-spacing: 4px;">f l o <b>Q</b> d o c</span>
		</div>
	</div>
</div>
{% endblock %}
