{% extends "base.html" %}
{% set active_page = "answers" %}
{% block head %}
{% endblock %}
{% block body %}

<div class="ui basic menu">
    <a class="header item" href="{{ url_for("answers") }}">Back</a>
</div>

<div class="ui form">
    {% set data = data[0] %}
	<h2>{{ data.question_title }}</h1>
    
    {% set _url = url_for("answer_detail") %}
    <form action="{{ _url + '?id=' + data.q_id }}" method="post">
        <div class="field">
            <label>Your answer:</label>
            <textarea rows="20" cols="60" name="answer" id="answer"></textarea>
        </div>

        <input type="submit" class="ui right floated green button" value="Answer" />
        <div class="ui right floated grey button">Forward</div>
    </form>
</div>
{% endblock %}
