{% extends "base.html" %}
{% set active_page = "answers" %}
{% block head %}
{% endblock %}
{% block body %}

<h1>These questions need some answers!</h1>

<div class="ui segments">

<a href="{{ url_for("answer_detail") }}">
	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				Where can I contact building facility managers?
			</h3></div>
			<div style="float:right;"><i>2hr ago</i></div>
			
			<br />
			<br />
			<div style="float:left;">No Answers</div>
			
		</div>
	</div>
	</a>

<a href="{{ url_for("answer_detail") }}">
	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				When is the company party?
			</h3></div>
			<div style="float:right;"><i>1d ago</i></div>
			<br />
			<br />
			<div style="float:left;">No Answers</div>
		</div>
	</div>
</div>
</a>
{% endblock %}
