<!DOCTYPE html>
<html lang="en">
<head>
    <title>floQdoc</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/dropdown.min.js"></script>

    <!-- Custom -->
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}?{{ range(1, 99999) | random }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="proxima-nova.css") }}">
    <script src="{{ url_for("static", filename="script.js") }}?{{ range(1, 99999) | random }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <section class="nav_container">
    <nav class="ui compact menu">
        {% if active_page == "questions" %}
        <div class="ui simple dropdown item" style="background: #0abe50;">
            Q
        {% else %}
        <div class="ui simple dropdown item" style="background: #697178;">
            A
        {% endif %}
        <i class="dropdown icon"></i>
        <div class="menu">
            {% if active_page == "questions" %}
                <a href="{{ url_for("answers") }}" class="item" id="a">A</a>
            {% else %}
                <a href="{{ url_for("questions") }}" class="item" id="q">Q</a>
            {% endif %}
        </div>
      </div>
    </nav>
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search questions...">
        <i class="icon"></i>
      </div>
      <div class="results"></div>
    </div>
    </section>
    <section class="content">
        {% block body %}
        {% endblock %}
    </section>
</body>
</html>
