<!DOCTYPE html>
<html lang="en">
<head>
    <title>floQdoc</title>
    <!-- Custom -->
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="proxima-nova.css") }}">
    <script src="{{ url_for("static", filename="script.js") }}"></script>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for("ask") }}"{% if active_page == "ask" %} class="active"{% endif %}>ask</a>
        <a href="{{ url_for("answer") }}"{% if active_page == "answer" %} class="active"{% endif %}>answer</a>
    </nav>
    <section class="content">
        {% block body %}
        {% endblock %}
    </section>
</body>
</html>
