<head>
    <title>floQdoc</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/dropdown.min.js"></script>

    <!-- Custom -->
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="proxima-nova.css") }}">
    <script src="{{ url_for("static", filename="script.js") }}"></script>
</head>

<body>
    <h2>How do I submit vacation times?</h2>

    <div class="meta">
        <i>February 11, 2017, at 9:35 PM</i>
    </div>

    <div class="ui comments">


<div class="ui segment">
        <div class="comment">
            <div class="content">
                <div class="author" style="float:left;">Anonymous</div>
                <div class="metadata">
                    <div style="float:right;"><i>Today at 5:42 PM</i></div>
                </div>
                <div class="text">
                    You have to submit the appropriate paperwork to HR at least 2 weeks in advance. I think you can find it on the company site under "Employee Resources" tab.
                </div>
            </div>
        </div>
</div>

<div class="ui segment">
        <div class="comment">
            <div class="content">
                <div class="author" style="float:left;">Anonymous</div>
                <div class="metadata">
                    <div style="float:right;"><i>Today at 7:08 PM</i></div>
                </div>
                <div class="text">
                    You can also email HR. Make sure your supervisor is notified of your intent to take a vacation at least 2-3 weeks before, and that you take care of all the work that you need to do before you leave (obviously). Also make sure you don't leave any edible content in your drawers! We don't want a repeat of the ants incident 2k15.
                </div>
            </div>
        </div>
        </div>

<div class="ui segment">
        <div class="comment">
            <div class="content">
                <div class="author" style="float:left;">Anonymous</div>
                <div class="metadata">
                    <div style="float:right;"><i>Today at 10:34 PM</i></div>
                </div>
                <div class="text">
                    Never forget. Ants incident, 2k15. Many great allies were lost that day.
                </div>
            </div>
        </div>
        </div>

    </div>
</body>