{% extends "base.html" %}
{% set active_page = "questions" %}
{% block head %}
{% endblock %}
{% block body %}


<script>
	$(document).ready(function(){
		alert({{ url_for("question_detail") }})
	});
</script>

<div class="ui segments">

{% for qn in data %}
{% set _url = url_for("question_detail") %}
<a href="{{ _url + '?id=' + qn.q_id }}">
		<div class="ui segment">
			<div class="content">
				<div style="float:left;"><h3>
					{{ qn.question_title }}
				</h3></div>
				<br></br>
				<div>
				<span style="float:left;position:relative;">
					{% if qn.answers[0]|length <= 80 %}
					{{ qn.answers[0] }}
					{% endif %}
					{% if qn.answers[0]|length > 80 %}
					{{ qn.answers[0][:78] }}...
					{% endif %}
				</span>
				</div>
				<br></br>
				<div style="float:left;color:grey;">
				{% if qn.answers|length == 1 %}
				<i>1 Answer</i></div>
				{% endif %}
				{% if qn.answers|length > 1 %}
				<i> {{ qn.answers|length }} Answers</i></div>
				{% endif %}
			</div>
		</div>
	</a>
{% endfor %}
</div>

<br></br>
<br></br>
<br></br>
<div class="ui centered grid">
	<div class="center aligned column">
		<div class="ui small image">
			<img src="{{ url_for('static', filename='green_grey.png') }}">
			<span style="color:#0abe50;font-style: 100px;letter-spacing: 4px;">f l o <b>Q</b> d o c</span>
		</div>
	</div>
</div>

{% endblock %}
