{% extends "base.html" %}
{% set active_page = "questions" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="ui segments">
	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				How do I submit vacation times?
			</h3></div>
			<div style="float:right;"><i>2hr ago</i></div>
			
			<br />
			<br />
			<div style="float:left;">5 Answers</div>
			
		</div>
	</div>

	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				How do I check when my supervisors are in?
			</h3></div>
			<div style="float:right;"><i>1d ago</i></div>
			<br />
			<br />
			<div style="float:left;">3 Answers</div>
		</div>
	</div>

	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				What happened with ants in 2k15??
			</h3></div>
			<div style="float:right;"><i>1d ago</i></div>
			<br />
			<br />
			<div style="float:left;">67 Answers</div>
		</div>
	</div>

	<div class="ui segment">
		<div class="content">
			<div style="float:left;"><h3>
				Who took my sandwich
			</h3></div>
			<div style="float:right;"><i>1d ago</i></div>
			<br />
			<br />
			<div style="float:left;">1 Answer</div>
		</div>
	</div>

</div>
{% endblock %}
