{% extends "base.html" %}
{% set active_page = "questions" %}
{% block head %}
{% endblock %}
{% block body %}

<div class="ui secondary basic menu">
    <a class="item" href="{{ url_for("questions") }}">
        <i class="reply icon"></i>
        Back
    </a>
</div>

<div style="padding-left:10px">
    <h2>{{ data.question_title }}</h2>
    <div class="meta">
        <i>February 11, 2017, at 9:35 PM</i>
    </div>
</div>

<div class="ui comments">
    <div class="ui segments">

        {% for answer in data.answers: %}
        <div class="ui segment">
            <div class="comment">
                <div class="content">
                    <div class="author" style="float:left;">Anonymous</div>
                    <div class="metadata">
                        <div style="float:right;"><i>Today at 5:42 PM</i></div>
                    </div>
                    <div class="text">
                        {{ answer }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
