{% extends "base.html" %}
{% set active_page = "questions" %}
{% block head %}
{% endblock %}
{% block body %}

<div class="ui segments">

{% for qn in data %}
{% set _url = url_for("question_detail") %}
<a href="{{ _url + '?id=' + qn.q_id }}">
		<div class="ui segment">
			<div class="content">
				<div style="float:left;"><h3>
					{{ qn.question_title }}
				</h3></div>
				<div style="float:right;"><i>2hr ago</i></div>

				<br />
				<br />
				<span style="float:left;">
					{{ qn.answers[0][:51] }}
				</span>
				<br />
				<br />
				<div style="float:left;color:grey;">
				{% if qn.answers|length - 1 == 0 %}
				<i> No more answers</i></div>
				{% endif %}
				{% if qn.answers|length - 1 > 0 %}
				<i> {{ qn.answers|length - 1 }} more answers</i></div>
				{% endif %}
			</div>
		</div>
	</a>

{% endfor %}

</div>
{% endblock %}
